.Card{
     text-align: center;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 0.5rem!important;
   background-color: white;
}
