form input {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    /* border-radius: 7px; */
    border-radius: 0.5rem!important;
    width: -webkit-fill-available;
}
form button {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    font-weight: bolder!important;
    border-radius: 0.5rem!important;
}