ul li {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 0.5rem!important;
    margin: 0.5rem!important;
}

ul li button {
    font-weight: bolder!important;
    border-radius: 0.5rem!important;
}

.list-group-item-success {
    color: black;
    background-color: #A9E5F6 !important;
}

ul li input {
    width: 25px;
    height: 25px;
}
